:root {
	/* CHANGE COLORS & OTHERS HERE */
	--color_accent: #7f003f;

	--img_bg: none;
	--color_bg: #404040;
	--color_light_50: #808080;
	--color_txt: #ffffff;
	--color_txt_link: #b0b0b0;
	--color_req: #ff4020;

	--max-width_form: 96rem;
	--min-width_form: 50%;

	--padding_form: 2rem;
	--color_bg_form: #101010e0;
	--color_bg_fieldset: #10101020;

	--color_bg_input: #000000;

	--color_bg_valid: #008000;
	--color_bg_valid_muted: #00800020;
	--color_bg_invaild: #b00000;
	--color_bg_invalid_muted: #b0000020;

	--color_bg_matrix_even: #20202080;
	--color_bg_matrix_odd: #40404080;
}

/* ADVANCED CSS EDIT */

* {
	box-sizing: border-box;
}

html {
	color: var(--color_txt);
}

a {
	color: inherit;
}

a:hover {
	color: var(--color_txt_link)
}

img {
  width: 100%;
}

body {
	background-color: var(--color_bg);
	background-image: var(--img_bg);
	background-size: cover;
	background-attachment: fixed;
}

form {
	width: 100%;
	max-width: var(--max-width_form);
	min-width: var(--min-width_form);
	margin: auto; /* center */
	padding: var(--padding_form);
	background-color: var(--color_bg_form);
	border-radius: 32px;
}

fieldset {
	width: calc(100% - 2 * (8px));
	border: none;
	margin: 8px;
	padding: 16px;
	border-radius: 12px;
	background-color: var(--color_bg_fieldset);
}

legend {
	text-decoration-style: solid;
	text-decoration-color: var(--color_txt);
	text-decoration-thickness: 2px;
	text-decoration-line: underline;
}

.question .title {
	font-size: 2em;
}

.question.required .title::after {
	content: '*';
	color: var(--color_req);
	display: inline-block;
	font-size: 0.75em;
	vertical-align: top;
}

.question .description {
	padding-left: 16px;
	border-left-style: solid;
	border-color: var(--color_light_50);
	border-width: 4px;
}

label {
	width: 100%;
}

input, textarea, select {
	width: calc(100% - 2 * (8px));
	margin: 8px;
	padding: 16px;
	border-radius: 12px;
	background-color: var(--color_bg_input);
	border-color: var(--color_light_50);
	border-width: 1px;
	border-style: solid;
	color: inherit;
	text-align: center;
	accent-color: var(--color_accent);
}

textarea {
	text-align: initial;
	resize: vertical;
}

input[type=radio], input[type=checkbox] {
	width: 16px;
}

select optgroup, select option {
	text-align: left;
}

select optgroup {
	font-weight: bold;
}

select option.selected {
	display: none;
}

fieldset.dropdown.multiple .answers div {
	background-color: var(--color_bg_input);
	margin: 8px;
	padding: 16px;
	padding-bottom: 4px;
	padding-top: 4px;
	border-radius: 12px;

	display: flex;
	align-items: center;

	span.text {
		flex-grow: 1;
		flex-shrink: 0;
	}

	span.close {
		flex-grow: 0;
		flex-shrink: 0;

		button {
			background-color: var(--color_bg_input);
			color: var(--color_txt);
			font-size: 2em;
			border-style: none;
		}
	}
}

.matrix {
	table {
		margin: auto;

		tbody {
			margin: 0;

			tr:nth-child(even) {
				background-color: var(--color_bg_matrix_even);
			}

			tr:nth-child(odd) {
				background-color: var(--color_bg_matrix_odd);
			}

			th {
				text-align: right;
			}

			td {
				text-align: center;
			}

		}
	}
}

input[type=text]:valid, form:valid input[type=submit] {
	background-color: var(--color_bg_valid);
}

textarea:valid, fieldset:valid {
	background-color: var(--color_bg_valid_muted);
}

input[type=text]:invalid, form:invalid input[type=submit] {
	background-color: var(--color_bg_invaild);
}

fieldset:invalid, textarea:invalid {
	background-color: var(--color_bg_invalid_muted);
}

.answer_option.other {
	display: flex;
	align-items: center;
}

.answer_option.other input[type=radio], .answer_option.other label {
	flex-grow: 0;
	flex-shrink: 0;
	width: initial;
	height: initial;
}

.answer_option.other input[type=text] {
	flex-grow: 1;
	flex-shrink: 1;
	text-align: initial;
	margin: initial;
	margin-left: 8px;
	padding: calc((1 / 2) * (16px));
	border-radius: calc((1 / 2) * (12px));
}
